doctype html
html(lang=cv.locale)
  head
    title #{cv.fullName}
    meta(charset="utf-8")
    script(src='https://unpkg.com/pagedjs/dist/paged.polyfill.js')
    include includes/rubik.pug
    style.
      @page {
        size: A4;
        margin: 30mm 15mm 15mm 30mm;
        @top-right {
          content: element(companyLogo);
        }
        @bottom-left {
          content: element(pageFooter);
        }
      }

      * {
        box-sizing: border-box;
      }

      html {
        width: 100%;
        height: 100%;
      }

      body {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        counter-reset: page;
        background-image: url(#{images.pageBackground});
        background-position-x: left;
        background-position-y: bottom;
        background-repeat: no-repeat;
      }

      img {
        display: block;
        margin: 0;
      }

      /* page layout */

      #companyLogo {
        position: running(companyLogo);
        margin-top: 5mm;
      }

      #companyLogo img {
        display: inline-block;
        width: 36mm;
        height: auto;
      }

      #pageFooter {
        position: running(pageFooter);
        display: flex;
        justify-content: space-between;
      }

      #pageFooter >div {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      #pageNumber::before {
        counter-increment: page;
        content: " " counter(page);
      }

      .page-break-after {
        page-break-after: always;
      }


      .container {
        margin: 0 0 0 0;
        position: relative;
      }

      .content-box {
        margin-bottom: 7.5mm;
        width: 100%;
      }

      .list {
        display: flex;
        flex-direction: column;
        gap: 3mm;
      }

      .list-row {
        display: flex;
        gap: 3mm;
      }

      .col-1, .col-2 {
        position: relative;
        padding: 5mm 0 0 0;
      }

      .column-decoration {
        position: absolute;
        top: 0;
        left: -4mm;
        background: #666;
        width: 11mm;
        height: 1.3mm;
      }

      .spacer-5mm {
        margin-bottom: 5mm;
      }

      .spacer-10mm {
        margin-bottom: 10mm;
      }

      .spacer-20mm {
        margin-bottom: 20mm;
      }

      .cover-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      /* typography */

      body {
        font-family: Rubik, Arial, sans-serif;
        font-size: 9pt;
        font-weight: 300;
      }

      p {
        line-height: 120%;
        margin: 0 0 16pt 0;
      }

      p.no-margin {
        margin: 0;
      }

      p.lead {
        font-size: 12pt;
        line-height: 133%;
      }

      .small {
        font-size: 7pt;
        color: #333;
      }

      h1 {
        font-size: 24pt;
        font-weight: 300;
      }

      h2 {
        font-size: 18pt;
        font-weight: 300;
      }

      h3 {
        font-size: 7pt;
        font-weight: 700;
      }

      ul {
        padding-left: 0;
      }


      /* intro containers */

      .intro-container {
        display: grid;
        grid-template-columns: 44mm auto;
        gap: 10mm;
      }

      .intro-container .col-1 {
        width: 44mm;
      }

      .intro-container .col-2 {
        position: relative;
      }

      .lead-in-image {
        z-index: -1;
        position: absolute;
        top: -4mm;
        left: -6mm;
        width: 15mm;
        height: 15mm;
      }

      .cv-image-container {
        width: 44mm;
        height: 44mm;
        border-radius: 50%;
        overflow: hidden;
      }

      /* profile container */

      .profile-container {
        display: grid;
        grid-template-columns: 64mm auto;
        gap: 10mm;
        page-break-inside: avoid;
      }

      .profile-container .col-1 {
      }

      .profile-container .col-2 {
      }

      /* projects container */

      .projects-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8mm;
      }

      .projects-container .project {
        display: flex;
        flex-direction: column;
        gap: 3mm;
        page-break-inside: avoid;
      }

      .projects-container .project .line {
        display: grid;
        grid-template-columns: 25% auto;
        gap: 4mm;
      }

      .projects-container .project .line p,
      .projects-container .project .line h3 {
        margin: 0;
      }

      @media print {
      }

      @media screen {
        html {
          width: 210mm;
        }
      }

  body
    header#companyLogo
      img(src=`${images.logo}`)
    footer#pageFooter.small
      div
        p.no-margin Tegonal Genossenschaft - Wasserwerkgasse 2 - 3011 Bern - tegonal.com
        #pageNumber.small
    .spacer-10mm
    .container.intro-container
      .col-1
        .cv-image-container
          img.cover-image(src=`${images.profile}`)
      .col-2
        h1 #{cv.fullName}
        p.lead.no-margin #{cv.jobTitle}
    .container.intro-container
      .col-1
      .col-2
        p.lead.no-margin
          != cv.introduction
    .spacer-10mm
    .container
      h2 #{i18n.fieldLabel.profile[cv.locale]}
    .container.profile-container.page-break-after
      .col-1
        .column-decoration
        .content-box
          h3 #{i18n.fieldLabel.birthday[cv.locale]}
          p.no-margin #{cv.birthday}
        if cv.nationalityStatus
          .content-box
            h3 #{i18n.fieldLabel.nationalityStatus[cv.locale]}
            p.no-margin #{cv.nationalityStatus}
        if cv.phoneNumber
          .content-box
            h3 #{i18n.fieldLabel.phoneNumber[cv.locale]}
            p.no-margin #{cv.phoneNumber}
        if cv.email
          .content-box
            h3 #{i18n.fieldLabel.email[cv.locale]}
            p.no-margin #{cv.email}
        if cv.links.length > 0
          .content-box
            h3 #{i18n.fieldLabel.links[cv.locale]}
            div.list-row
              each item in cv.links
                div
                  a(href=item.url)= item.platform
      .col-2
        .column-decoration
        if cv.edu.length > 0
          .content-box
            h3 #{i18n.fieldLabel.education[cv.locale]}
            div.list
              each item in cv.edu
                div
                  p.no-margin #{item.institution}
                  p.no-margin.small
                    != item.description
                  p.no-margin.small #{item.fromYear} - #{item.toYear}
        if cv.certs.length > 0
          .content-box
            h3 #{i18n.fieldLabel.certifications[cv.locale]}
            div.list
              each item in cv.certs
                div
                  p.no-margin #{item.name}
                  p.no-margin.small
                    != item.description
                  p.no-margin.small #{item.toYear}
        if cv.courses.length > 0
          .content-box
            h3 #{i18n.fieldLabel.courses[cv.locale]}
            div.list
              each item in cv.courses
                div
                  p.no-margin #{item.name}
                  p.no-margin.small
                    != item.description
                  p.no-margin.small #{item.toYear}

    h2 #{i18n.fieldLabel.skills[cv.locale]}
    .container.container-experience.page-break-after
      .column-decoration
      .col-1
        if cv.languages.length > 0
          .content-box
            h3 #{i18n.fieldLabel.languages[cv.locale]}
            div.list-row
              each item in cv.languages
                div
                  p.no-margin= item.language.name
                  p.no-margin.small #{item.level.level}
        if cv.technologies.length > 0
          .content-box
            h3 #{i18n.fieldLabel.technologies[cv.locale]}
            div.list-row
              each item in cv.technologies
                div
                  p.no-margin #{item.skill.name}
                  p.no-margin.small #{item.level.level}
        if cv.softSkills.length > 0
          .content-box
            h3 #{i18n.fieldLabel.softSkills[cv.locale]}
            div.list-row
              each item in cv.softSkills
                div
                  p.no-margin #{item.softSkill.name}
                  p.no-margin.small #{item.level.level}
        if cv.otherSkills.length > 0
          .content-box
            h3 #{i18n.fieldLabel.otherSkills[cv.locale]}
            div.list-row
              each item in cv.otherSkills
                div
                  p.no-margin #{item.name}
                  p.no-margin.small #{item.level.level}
      if cv.projects.length > 0
        h2 #{i18n.fieldLabel.workExperience[cv.locale]}
        .content-box
          h3 #{i18n.fieldLabel.projects[cv.locale]}
          div.list
            each item in cv.projects
              div
                p.no-margin #{item.company.name} / #{item.project.name}
                p.no-margin.small #{item.fromYear} - #{item.toYear}
                p.no-margin.small
                  != item.description
