doctype html
html(lang=cv.locale)
  head
    title #{cv.fullName}
    meta(charset="utf-8")
    script(src='https://unpkg.com/pagedjs/dist/paged.polyfill.js')
    include includes/rubik.pug
    style.
      @page {
        size: A4;
        margin: 30mm 15mm 15mm 30mm;
        @top-right {
          content: element(companyLogo);
        }
        @bottom-left {
          content: element(pageFooter);
        }
      }

      * {
        box-sizing: border-box;
      }

      html {
        width: 100%;
        height: 100%;
      }

      body {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        counter-reset: page;
        --primary-color: #C0D72E;
        --secondary-color: #666;
        --spacer-hr-color: #999;
        --highlight-background-color: #f8f8f8;
      }

      img {
        display: block;
        margin: 0;
      }

      /* page layout */

      #companyLogo {
        position: running(companyLogo);
        margin-top: 5mm;
      }

      #companyLogo img {
        display: inline-block;
        width: 36mm;
        height: auto;
      }

      #pageFooter {
        position: running(pageFooter);
        display: flex;
        justify-content: space-between;
      }

      #pageFooter >div {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      #pageNumber::before {
        counter-increment: page;
        content: " " counter(page);
      }

      .page-break-after {
        page-break-after: always;
      }


      .container {
        margin: 0 0 0 0;
        position: relative;
      }

      .content-box {
        margin-bottom: 7.5mm;
        width: 100%;
      }

      .content-box.highlights {
        border-left: 2mm solid var(--primary-color);
        background: var(--highlight-background-color);
        padding: 2mm;
        margin-left: -4mm;
        position: relative;
        border-radius: 2mm;
      }

      .content-box.highlights::after {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMTU2LjYgMzg0LjlMMTI1LjcgMzU0Yy04LjUtOC41LTExLjUtMjAuOC03LjctMzIuMmMzLTguOSA3LTIwLjUgMTEuOC0zMy44TDI0IDI4OGMtOC42IDAtMTYuNi00LjYtMjAuOS0xMi4xcy00LjItMTYuNyAuMi0yNC4xbDUyLjUtODguNWMxMy0yMS45IDM2LjUtMzUuMyA2MS45LTM1LjNsODIuMyAwYzIuNC00IDQuOC03LjcgNy4yLTExLjNDMjg5LjEtNC4xIDQxMS4xLTguMSA0ODMuOSA1LjNjMTEuNiAyLjEgMjAuNiAxMS4yIDIyLjggMjIuOGMxMy40IDcyLjkgOS4zIDE5NC44LTExMS40IDI3Ni43Yy0zLjUgMi40LTcuMyA0LjgtMTEuMyA3LjJsMCA4Mi4zYzAgMjUuNC0xMy40IDQ5LTM1LjMgNjEuOWwtODguNSA1Mi41Yy03LjQgNC40LTE2LjYgNC41LTI0LjEgLjJzLTEyLjEtMTIuMi0xMi4xLTIwLjlsMC0xMDcuMmMtMTQuMSA0LjktMjYuNCA4LjktMzUuNyAxMS45Yy0xMS4yIDMuNi0yMy40IC41LTMxLjgtNy44ek0zODQgMTY4YTQwIDQwIDAgMSAwIDAtODAgNDAgNDAgMCAxIDAgMCA4MHoiIGNvbG9yPSJjdXJyZW50Q29sb3IiIC8+PC9zdmc+');
        position: absolute;
        background-size: cover;
        content: '';
        display: block;
        top: 2mm;
        right: 2mm;
        width: 7mm;
        height: 7mm;
        opacity: 0.25;
      }

      .list {
        display: flex;
        flex-direction: column;
        gap: 3mm;
      }

      .list-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4mm;
      }

      .col-1, .col-2 {
        position: relative;
        padding: 5mm 0 0 0;
      }

      .column-decoration {
        position: absolute;
        top: 0;
        left: -4mm;
        background: var(--primary-color);
        width: 11mm;
        height: 1.3mm;
        display: none;
      }

      .spacer-5mm {
        margin-bottom: 5mm;
      }

      .spacer-10mm {
        margin-bottom: 10mm;
      }

      .spacer-20mm {
        margin-bottom: 20mm;
      }

      .cover-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .hr {
        height: 1px;
        border-top: none;
        border-bottom: 1px solid var(--spacer-hr-color);
        transform: scaleY(0.33);
        margin: 2mm 0;
      }

      /* typography */

      body {
        font-family: Rubik, Arial, sans-serif;
        font-size: 9pt;
        font-weight: 300;
      }

      p {
        line-height: 133%;
        margin: 0 0 16pt 0;
      }

      .no-margin {
        margin: 0;
      }

      .small-margin {
        margin: 0 0 6pt 0;
      }

      .lead {
        font-size: 12pt;
        line-height: 133%;
      }

      .small {
        font-size: 7.5pt;
        color: #333;
      }

      .bold {
        font-weight: 700;
      }

      .from-richtext {
        p:last-child {
          margin: 0
        }
      }

      h1 {
        font-size: 24pt;
        font-weight: 300;
        margin-top: 0;
      }

      h2 {
        font-size: 18pt;
        font-weight: 300;
        margin-top: 0;
      }

      h3 {
        font-size: 7pt;
        font-weight: 700;
        margin-top: 0;
      }

      ul {
        padding-left: 0;
      }


      /* intro containers */

      .intro-container {
        display: grid;
        grid-template-columns: 20mm auto;
        gap: 10mm;
      }

      .intro-container .col-1 {
        width: 20mm;
      }

      .intro-container .col-2 {
        position: relative;
      }

      .cv-image-container {
        width: 20mm;
        height: 20mm;
        border-radius: 50%;
        overflow: hidden;
      }

      /* profile container */

      .profile-container {
        display: grid;
        grid-template-columns: 64mm auto;
        gap: 10mm;
        page-break-inside: avoid;
      }

      .profile-container .col-1 {
      }

      .profile-container .col-2 {
      }

      /* projects container */

      .container-projects {
        width: 80%;
      }

      @media print {
      }

      @media screen {
        html {
          width: 210mm;
        }
      }

  body
    header#companyLogo
      img(src=`${images.logo}`)
    footer#pageFooter.small
      div
        p.no-margin Tegonal Genossenschaft - Wasserwerkgasse 2 - 3011 Bern - tegonal.com
        #pageNumber.small
    .spacer-10mm
    .container.intro-container
      .col-1
        .cv-image-container
          img.cover-image(src=`${images.profile}`)
      .col-2
        h1 #{cv.fullName}
        p.lead.no-margin #{cv.jobTitle}
    .container.intro-container
      .col-1
      .col-2
        div.lead.no-margin.from-richtext
          != cv.introduction
    .spacer-5mm
    .hr
    .spacer-5mm
    .container.profile-container
      .col-1
        h2 #{i18n.fieldLabel.profile[cv.locale]}
      .col-2
        h2 #{i18n.fieldLabel.education[cv.locale]}
    .container.profile-container.page-break-after
      .col-1
        .column-decoration
        .content-box
          h3 #{i18n.fieldLabel.birthday[cv.locale]}
          p.no-margin #{cv.birthday}
        if cv.nationalityStatus
          .content-box
            h3 #{i18n.fieldLabel.nationalityStatus[cv.locale]}
            p.no-margin #{cv.nationalityStatus}
        if cv.phoneNumber
          .content-box
            h3 #{i18n.fieldLabel.phoneNumber[cv.locale]}
            p.no-margin #{cv.phoneNumber}
        if cv.email
          .content-box
            h3 #{i18n.fieldLabel.email[cv.locale]}
            p.no-margin #{cv.email}
        if cv.links.length > 0
          .content-box
            h3 #{i18n.fieldLabel.links[cv.locale]}
            div.list-row
              each item in cv.links
                div
                  a(href=item.url)= item.platform
      .col-2
        .column-decoration
        if cv.eduHighlights.length > 0
          .content-box.highlights
            h3 #{i18n.fieldLabel.highlights[cv.locale]}
            div.list
              each item in cv.eduHighlights
                div
                  p.no-margin #{item.title}
                  div.no-margin.small.from-richtext
                    != item.description
                  p.no-margin.small #{item.fromYear}#{item.toYear ? ' - ' + item.toYear : ''}

        if cv.edu.length > 0
          .content-box
            div.list
              each item in cv.edu
                div
                  p.no-margin #{item.institution}
                  div.no-margin.small.from-richtext
                    != item.description
                  p.no-margin.small #{item.fromYear}#{item.toYear ? ' - ' + item.toYear : ''}

        if cv.certs.length > 0
          .content-box
            h3 #{i18n.fieldLabel.certifications[cv.locale]}
            div.list
              each item in cv.certs
                div
                  p.no-margin #{item.name}
                  div.no-margin.small.from-richtext
                    != item.description
                  p.no-margin.small #{item.toYear}

        if cv.courses.length > 0
          .content-box
            h3 #{i18n.fieldLabel.courses[cv.locale]}
            div.list
              each item in cv.courses
                div
                  p.no-margin #{item.name}
                  div.no-margin.small.from-richtext
                    != item.description
                  p.no-margin.small #{item.toYear}

    h2 #{i18n.fieldLabel.skills[cv.locale]}
    .container.container-experience.page-break-after
      .column-decoration
      .col-1
        if cv.skillHighlights.length > 0
          .content-box.highlights
            h3 #{i18n.fieldLabel.highlights[cv.locale]}
            div.list-row
              each item in cv.skillHighlights
                div
                  p.no-margin= item.skill.name
                  p.no-margin.small #{item.level.level}
                  div.no-margin.small.from-richtext
                    != item.description
        if cv.languages.length > 0
          .hr
          .content-box
            h3 #{i18n.fieldLabel.languages[cv.locale]}
            div.list-row
              each item in cv.languages
                div
                  p.no-margin= item.language.name
                  p.no-margin.small #{item.level.level}
        if cv.technologies.length > 0
          .hr
          .content-box
            h3 #{i18n.fieldLabel.technologies[cv.locale]}
            div.list-row
              each item in cv.technologies
                div
                  p.no-margin #{item.skill.name}
                  p.no-margin.small #{item.level.level}
        if cv.softSkills.length > 0
          .hr
          .content-box
            h3 #{i18n.fieldLabel.softSkills[cv.locale]}
            div.list-row
              each item in cv.softSkills
                div
                  p.no-margin #{item.softSkill.name}
                  p.no-margin.small #{item.level.level}
        if cv.otherSkills.length > 0
          .hr
          .content-box
            h3 #{i18n.fieldLabel.otherSkills[cv.locale]}
            div.list-row
              each item in cv.otherSkills
                div
                  p.no-margin #{item.name}
                  p.no-margin.small #{item.level.level}

    h2 #{i18n.fieldLabel.workExperience[cv.locale]}
    .container.container-projects.page-break-after
      .column-decoration
      .col-1
      if cv.jobHighlights.length > 0
        .content-box.highlights
          h3 #{i18n.fieldLabel.highlights[cv.locale]}
          div.list
            each item in cv.jobHighlights
              div
                p.small-margin.bold #{item.company.name}
                p.small.small-margin #{item.fromYear} - #{item.toYear}
                div.from-richtext
                  != item.description
      if cv.projects.length > 0
        .content-box
          h3 #{i18n.fieldLabel.projects[cv.locale]}
          div.list
            each item in cv.projects
              div
                p.small-margin.bold #{item.company.name} / #{item.project.name}
                p.small.small-margin #{item.fromYear} - #{item.toYear}
                div.from-richtext
                  != item.description

  if cv.casualInfo
    h2 #{i18n.fieldLabel.casualInfo[cv.locale]}
      .container.page-break-after
        .column-decoration
        .col-1
          .content-box
            div.from-richtext
              != cv.casualInfo
